




.image-container {
    position: relative;
    width: 100%;
    height: 100vh; /* adjust the height to your needs */
    display: flex;
    flex-direction: column;
    padding-top:8rem;
    align-items: center;
  }
  
  .image-container img {
    width: 50%;
  
    object-fit: contain;
    opacity: 0; /* initial opacity */
    transform: scale(0.0); /* initial scale */
    transition: opacity 2s, transform 2s; /* animation duration */
  }
  
  .image-container.loaded img {
    opacity: 1; /* final opacity */
    transform: scale(0.9); /* final scale */
  }



  .animated-text {
    transition: opacity 0.5s ease-in-out;
    animation: textChange 2s infinite;
  }



  
  @keyframes textChange {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animated-text:hover {
    opacity: 0.5; /* or any other value you want to animate to */
    cursor: grab;
  }

  /* Add animation to the navbar items */
#nav-items {
  transition: transform 0.3s ease-in-out;
}



@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}