.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .column {
    flex-basis: 25%;
    margin: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .column:hover {
    transform: scale(0.9);
    opacity: 0.6;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .heading:hover {
    color: #333;
  }
  
  .paragraph {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .column {
      flex-basis: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .column {
      flex-basis: 100%;
    }
  }

  .card {
    width: 300px;
    height: 360px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-image {
    position: relative;
  }
  
  .card-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .card-description{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    
  }